<form class="register">
    <center><h2>{{ products.productName }}</h2></center>
    <center><img src="/images/{{ products.avatar}}" width="300" height="300"></center><br>
    <label for="">Price: {{ products.price }} VND</label><br>
    <label for="">Description: {{ products.description }}</label><br>
    <label for="">Category: {{ products.category.categoryName }}</label><br>
    <label for="">Supplier: {{ products.supplier.supplierName }}</label><br>
</form>