<form action="/product/edit/{{products._id}}" method="post" class="register">
    <center><h1>Edit Product</h1></center>
    <center><img src="/images/{{ products.avatar}}" width="300" height="300"></center>
    <label for="">Product Name: </label>
    <input type="text" name="productName" value="{{ products.productName }}">

    <label for="">Price: </label>
    <input type="number" name="price" value="{{ products.price }}">

    <label for="">Description: </label>
    <input type="text" name="description"value="{{ products.description }}">

    <input type="submit" value="Edit">
</form>